*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --corPrimaria: #01A1B3;
    --corSecundaria: #02626d;
    --corTerciaria:  #a6ebf3;
}
body, html {
    height: 100%;
    overflow-x: hidden;
}
.z-index{
    z-index: 1;
}
.botao{
    padding: 12px 24px;
    background: var(--corPrimaria);
    border: none;
    border-radius: 8px;
    color: #fff;
}
.botao:hover{
    background: var(--corSecundaria);
    color: #fff;
}
.titulo{
    text-align: center;
    margin: 20px;
}
.titulo::before{
    content: " ---- ";
}
.titulo::after{
    content: " ---- ";
}
/*navegacao*/
#principal .navegacao{
    padding: 20px;
}
.navegacao div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    color: #fff;
}
.navegacao li{
    display: inline-block;
    margin-right: 20px;
}
.navegacao .lista a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.navegacao .lista a:hover{
    color: var(--corPrimaria);
    text-decoration: underline;
}
.parallax {
    background-image: url(img/foto1.jpg);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}
.parallax::before{
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/*visao*/
#visao{
    padding: 100px 150px;
    color: #fff;
}
#veterinario{
    position: absolute;
    left: 50%;
    bottom: 5%;
}
#visao a{
    text-decoration: none;
}
/*conheca*/
#conheca{
    margin: 35px 0;
}
#conheca a{
    background: var(--corPrimaria);
    color: #fff;
    text-decoration: none;
}
#conheca a:hover{
    background: var(--corSecundaria);
}
.parallax2{
    background-image: url(img/foto2.jpg);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    color: #fff;
    padding: 50px;
}
.parallax2::before{
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.foto_doutores{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/*doacao*/
#doacao{
    position: relative;
    height: 450px;
    margin: 20px 0 0;
    z-index: 0;
    color: #000;
}
#doacao h3{
    padding: 20px;
}
#selecionar_doacao{
    width: 350px;
    height: 45px;
    border-radius: 8px;
}
.botao_valores{
    background: rgb(214, 212, 212);
    padding: 8px;
    color: #000;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.botao_valores:hover{
    background: var(--corPrimaria);
    border: 1px solid var(--corSecundaria);
}
#pagamento{
    position: absolute;
    right: 40px;
    width: 500px;
    height: 280px;
    border: none;
    border-radius: 10px;
    background: rgba(225, 225, 225, 0.5);
}
#pagamento a {
    color: #000;
    display: block;
    text-decoration: none;
    font-size: 25px;
}
#pagamento button{
    border: none;
    margin: 20px 0;
}
#outro_valor{
    display: none;
    width: 410px;
    height: 35px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
}
/*rodape*/
.parallax3{
    background-image: var(--corSecundaria);
    height: 30%; 
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    color: #fff;
    padding: 50px;
    border-top: 4px solid var(--corPrimaria);
}
.parallax3::before{
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.link_rodape a{
    padding: 5px;
    border: 2px solid var(--corPrimaria);
    border-radius: 5px;
    background: #fff;
    display: inline-block;
    color: #000;
    margin: 0 10px;
}
#ancoras a{
    margin-right: 12px;
    color: #fff;
}

/*login/cadastro*/
.parallax4{
    background-image: url(img/foto3.jpg);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    color: #fff;
    padding: 50px;
}
.parallax4::before{
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#entrar{
    display: flex;
    justify-content: space-evenly;
    background-size: cover;
    color: #fff;
    height: 100%;
}
#entrar a{
    text-decoration: none;
}
#entrar label{
    display: block;
}
#entrar div{
    margin: 10px;
}
.botao_entrar{
    color: #fff;
    background: var(--corPrimaria);
    padding: 10px 30px;
    margin: 20px 0;
}
.barra_cadastro{
    width: 350px;
    height: 34px;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 8px;
}
#cadastro{
    border-right: 5px solid var(--corSecundaria);
    padding-right: 145px;
}
/*painel*/
#painel{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 90%;
    z-index: 1;
    color: #fff;
    position: relative;
    border-radius: 10px;
}
#consultas_marcadas{
    background: rgba(225, 225, 225, 0.5);
    padding: 20px;
    height: 95%;
    margin: 10px;
    border-radius: 10px;
}
#marcar li{
    list-style-type: none;
    background: #fff;
    border-bottom: 1px solid var(--corSecundaria);
    width: 500px;
    padding: 8px;
}
#marcar li::before{
    content: "";
}
#marcar li a{
    color: #000;
    text-decoration: none;
}
.data{
    float: right;
    color: #000;
}
#doutor{
    float: left;
    color: #000;
}
#detalhes{
    background: #fff;
    display: none;
    float: left;
    color: #000;
}
#detalhes p{
    margin: 0;
    padding: 10px;
    float: left;
}
#marcacao{
    display: none;
}
#marcacao div{
    display: block;
}
#marcacao textarea{
    width: 400px;
    height: 50px;
}
#dados_consulta{
    width: 500px;
}
#dados_consulta label{
    display: block;
}
#botao_voltar{
    display: none;
    padding: 10px;
    background: url(img/arrow-left-solid.svg) no-repeat;
    border: none;
}

/*chat*/
#campo{
    width: 300px;
    height: 400px;
    background: rgba(225, 225, 225, 0.5);
    display: none;
    position: fixed;
    bottom: 0;
    right: 10px;
    border-radius: 10px 10px 0 0;
}
#input{
    position: fixed;
    bottom: 0;
}
#enviar{
    background: url(img/paper-plane-solid.svg) no-repeat;
    background-size: 20px;
    width: 30px;
    border: none;
}
#barra_texto{
    width: 270px;
    border: 2px solid var(--corSecundaria);
    border-radius: 10px;
}
#area_mensagem p {
    background: var(--corPrimaria);
    color: #fff;
    width: 120px;
    margin: 20px;
    padding: 10px;
    border-radius: 20px 20px 0 20px;
    position: relative;
    left: 40%;
}
#abrir{
    width: 60px;
    height: 60px;
    background: url(img/arrow-left-solid.svg) no-repeat;
    background-size: 40px;
    border: none;
    position: fixed;
    bottom: 2px;
    right: 2px;
}
#fechar{
    width: 20px;
    height: 20px;
    background: url(../img/arrow-left-solid.svg) no-repeat;
    background-size: 20px;
    border: none;
    position: absolute;
    top: 10px;
}


/*animais*/
.animais{
    position: relative;
    color: #fff;
}
#titulo_animais{
    color: var(--corPrimaria);
    font-size: 100pt;
    text-align: center;
    display: block;
    position: relative;
    text-shadow: 2px 2px 3px #000000;
}
.parallax_pastor{
    background-image: url(img/pastor.jpg);
    height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    color: #fff;
    padding: 50px;
    border-bottom: 2px solid var(--corSecundaria);
}
.parallax_pastor::before{
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.parallax_rott{
    background-image: url(img/rott.jpg);
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    color: #fff;
    padding: 50px;
    border-bottom: 2px solid var(--corSecundaria);
}
.parallax_rott::before{
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.parallax_maltes{
    background-image: url(img/maltes.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    color: #fff;
    padding: 50px;
    border-bottom: 2px solid var(--corSecundaria);
}
.parallax_maltes::before{
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.parallax_dalmata{
    background-image: url(img/dalmata.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    color: #fff;
    padding: 50px;
    border-bottom: 2px solid var(--corSecundaria);
}
.parallax_dalmata::before{
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.parallax_siames{
    background-image: url(img/siames.jpg);
    height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    color: #fff;
    padding: 50px;
    border-bottom: 2px solid var(--corSecundaria);
}
.parallax_siames::before{
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.parallax_co{
    background-image: url(img/co.jpg);
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    color: #fff;
    padding: 50px;
    border-bottom: 2px solid var(--corSecundaria);
}
.parallax_co::before{
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.parallax_ango{
    background-image: url(img/ango.jpg);
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    color: #fff;
    padding: 50px;
    border-bottom: 2px solid var(--corSecundaria);
}
.parallax_ango::before{
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.parallax_sp{
    background-image: url(img/sp.jpg);
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    color: #fff;
    padding: 50px;
    border-bottom: 2px solid var(--corSecundaria);
}
.parallax_sp::before{
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



  